#settings > Span {
	font-size: 32;
	font-weight: bold;
	position: relative;
	margin-right: 359;
	left: 2%;
	}
	
#settings div{
	font-size: 28;
	margin: 40 auto;
	}

#settings div img{
	width: 75px;
	vertical-align: middle;
	margin: auto 7;
}

#settings #settings_exit {
	position: absolute;
	left: 93.7%;
	top: -2;
	border: 2px solid black;
	font-family: "Arial";
	font-size: 32;
	font-weight: bold;
	padding: 7 12;
}

#settings{
	font-family: "Arial";
	width: 700px;
	height: 500px;
	border: 2px solid black;
	padding: 20;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	right: 3%;
	bottom: -9px;
	z-index: 2;
	background-color: #7CB7FF;
}

div#settings.settings_advanced{
	height: 530;
}

#settings div span{
	border: 2px solid black;
	margin: 10;
	padding: 10;
}

#settings div #settings_message{
	font-size: 14;
	border: none;
	padding: 0;
}

#settings div span.settings_sign_in_buttons{
	font-size: 14;
}
	

#settings div span#round {
	border-radius: 10px;
}

#settings div#clear_data{
	font-size: 28;
	border: 2px solid black;
	color: red;
	width: 30%;
	position: relative;
	right: 240px;
	margin-top: 70px;
}
#settings div#clear_data.settings_advanced{
	margin-top: 30px;
}

#settings div ol#account_info li{
	display: inline;
	color: red;
}

div#settings > span {
	font-size: 28;
	margin: 0 auto;
	font-weight: normal;
	position: static;
}

#settings span table{
	display: inline;
}

#settings span table tr td{
	padding: 15;
	border: 2px solid black;
	font-weight: bold;
	text-align: center;
}